.DS_Store
Hardware/Analog Gauges/geek.svg
Hardware/Analog Gauges/download.svg
Hardware/Analog Gauges/upload.svg
.vscode/settings.json
Hardware/Analog Gauges/PrintOut.docx
Hardware/Analog Gauges/~$intOut.docx
